h1 {
  color: red;
  font-style: oblique;
  text-align: center;
}
p,
li {
  color: yellow;
  font-style: oblique;
  font-size: medium;
}
h3 {
  color: red;
  font-style: oblique;
  text-align: center;
}

body {
  background-color: darkgrey;
}

/* li {
  color: yellow;
  font-style: oblique;
  font-size: medium;
} */
