/* .Title {
  color: aquamarine;
  font-style: oblique;
  text-align: center;
} */
h1 {
  color: aquamarine;
  font-style: oblique;
  text-align: center;
  border-radius: 5px;
  border-color: aquamarine;
}
p,
li {
  color: yellow;
  font-style: oblique;
  font-size: medium;
}
.sub-header {
  color: aquamarine;
  font-style: oblique;
  text-align: center;
}
body {
  background-color: darkgrey;
}
