/* .Title {
  color: red;
  font-style: oblique;
  text-align: center;
} */
img {
  width: 400px;
  height: 400px;
}

a {
  color: red;
  font-style: oblique;
  text-align: center;
  font-size: large;
}

.main-header {
  font-size: 100px;
}
