/* .Title {
  color: red;
  font-style: oblique;
  text-align: center;
  padding: 30px;
  border color: crimson;
} */
 title {
  padding: 5px;
  border-color: crimson;
 }
img {
  width: 200x;
  height: 200px;
  margin-left: 500px;
  padding: 25px;
  border-top: 10px;
  border-radius: 40px;

}

a {
  color: red;
  font-style: oblique;
  text-align: center;
  font-size: large;
}

.main-header {
  font-size: 100px;
}
