.Title {
    color: red;
    font-style: oblique;
    text-align: center;
}
.H1 {
    color: red;
    font-style: oblique;
    text-align: center;
}
.p {
    color: yellow;
    font-style: oblique;
    font-size: medium;
}
.H3 {
    color: red;
    font-style: oblique;
    text-align: center;
}
.li {
    color: yellow;
    font-style: oblique;
    font-size: medium;
}
